@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
}


.banner-content{
    transform: translateY(-50%)translateX(-50%);
    -webkit-transform: translateY(-50%)translateX(-50%);
    -moz-transform: translateY(-50%)translateX(-50%);
    -ms-transform: translateY(-50%)translateX(-50%);
    -o-transform: translateY(-50%)translateX(-50%);
}




